<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- telling container to take care of annotations stuff -->
	<context:annotation-config />

	<!-- declaring base package -->
	<context:component-scan base-package="com.dvdrental.controller"></context:component-scan>

	<!-- Enable AspectJ style of Spring AOP -->
	<aop:aspectj-autoproxy />

	<!-- adding view resolver to show jsp's on browser -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>


	<!-- declare datasource bean -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/myapp.properties</value>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<!-- declare beans -->
	<bean id="actorDao" class="com.dvdrental.dao.ActorDaoImpl" />
	<bean id="actorService" class="com.dvdrental.services.ActorServiceImpl" />
	<bean id="myBeanProcessor" class="com.dvdrental.beanprocessor.MyBeanProcessor" />

	<!-- Configure Aspect Beans, without this Aspects advices wont execute -->

	<bean name="actorAspectPointcut" class="com.dvdrental.aspect.ActorAspectPointcut" />
	<bean name="actorAspectJoinPoint" class="com.dvdrental.aspect.ActorAspectJoinPoint" />

	<bean name="actorAroundAspect" class="com.dvdrental.aspect.ActorAroundAspect" />


</beans>